<!DOCTYPE html>
<html>
<head>
  <title>Joseph Verrastro</title>
</head>
<body>
    <div class="row text-center">
        <div id="about-header">
            <h1>An entire page about me!?!?</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2">
            <div id="about-img">
                <img src="https://goo.gl/vmZFJn">
            </div>
        </div>
        <div class="col-md-4">
            <h3>Here is me talking about me...</h3>
            <p></p>
        </div>
    </div>
</body>
</html>