<!DOCTYPE html>
<html>
<head>
  <title>Joseph Verrastro</title>
</head>
<body>
    <div class="well">
        <div class="row text-center">
            <div class="col-md-4">
                <div id="about-img">
                    <img src="https://goo.gl/vmZFJn">
                </div>
            </div>
            <div class="col-md-4">
                <div id="about-header" class="">
                    <h2>About Me</h2>
                </div>
                <h3>My objective</h3>
                <p>As you may have guessed it, my name is Joseph Verrastro and I am a new, up-and-coming web developer!
                 Through the completion of the Full-stack Web Developer Bootcamp by Coder Manual, I have learned many different
                 languages and skills. Languages that include HTML, CSS, Javascript, jQuery, Ruby, and Ruby on Rails!</p>
            </div>
        </div>
    </div>
</body>
</html>