<!DOCTYPE html>
<html>
<head>
  <title>Joseph Verrastro</title>
</head>
<body>
    <div class="row text-center">
        <div id="about-header">
            <h1>---------  About Me  ----------</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2">
            <div id="about-img">
                <img src="https://goo.gl/vmZFJn">
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <h3>My objective</h3>
            <p></p>
        </div>
    </div>
</body>
</html>