<!DOCTYPE html>
<html>
<head>
  <title>Joseph Verrastro</title>
</head>
<body>
  <!--<div class="well">-->
  <!--  <div class="row">-->
  <!--      <div class="col-md-12">-->
  <!--        <img id="item1" src="http://goo.gl/mvd2ew" class="img-responsive" alt="guitar">-->
  <!--        <img id="item2" src="http://goo.gl/schFlX" class="img-responsive" alt="rain">-->
  <!--        <img id="item3" src="http://goo.gl/IbK1rF" class="img-responsive" alt="grasshopper">-->
  <!--        <img id="item4" src="http://goo.gl/u2VD7G" class="img-responsive" alt="shoes">-->
  <!--        <img id="item5" src="http://goo.gl/nSbaUA" class="img-responsive" alt="chair">-->
  <!--        <img id="item6" src="http://goo.gl/KRHJjo" class="img-responsive" alt="baby photo">-->
  <!--        <img id="item7" src="http://goo.gl/G0kdKm" class="img-responsive" alt="baby shoes">-->
  <!--      </div>-->
  <!--  </div>-->
  <!--</div>-->
<div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Page Heading
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="http://goo.gl/cVCZAl" target="_blank">
                    <img class="img-responsive" src="http://goo.gl/XDwVuR" alt="guitar">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://goo.gl/icr2Gt" target="_blank">
                    <img class="img-responsive" src="http://goo.gl/hdNIG1" alt="maternity">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://goo.gl/GnfxMK" target="_blank">
                    <img class="img-responsive" src="http://goo.gl/Os6p6m" alt="chair">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="http://goo.gl/PK8OZC" target="_blank">
                    <img class="img-responsive" src="http://goo.gl/c06APz" alt="rain">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://goo.gl/XOY0nF" target="_blank">
                    <img class="img-responsive" src="http://goo.gl/jHP53b" alt="baby shoes">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://goo.gl/FpuHtK" target="_blank">
                    <img class="img-responsive" src="http://goo.gl/Hs8p3v" alt="shoes">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="http://goo.gl/RpOUCF" target="_blank">
                    <img class="img-responsive" src="http://goo.gl/ShdCC4" alt="grasshopper">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://goo.gl/1bBo1g" target="_blank">
                    <img class="img-responsive" src="http://goo.gl/G2v9EX" alt="leaf in road">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://goo.gl/tTUFWV" target="_blank">
                    <img class="img-responsive" src="http://goo.gl/09OaQE" alt="flower">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>
  
  <script>
      var fadeLoop = function(pic) {
          pic.fadeOut(2000, function() {
              var $after = pic.next();
              if ($after.length == 0) {
                  $after = pic.siblings(":first");
              }
              $after.fadeIn(5000, function() {
                  fadeLoop($after);
              });
          });
      };
      
      $(document).ready(function(){
          $("#item1").siblings().hide();
          fadeLoop($("#item1"));
      });
  </script>
</body>
</html>