<!DOCTYPE html>
<html>
<head>
  <title>Joseph Verrastro</title>
</head>
<body>

<div class="container">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">My <span>Photography</span></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="http://goo.gl/cVCZAl" target="_blank">
            <img class="img-responsive" src="http://goo.gl/XDwVuR" alt="guitar">
        </a>
        <h3>
            <a href="http://goo.gl/cVCZAl" target="_blank">"Light Guitar"</a>
        </h3>
        <p id="photo-p">One of my favorite pictures I have taken! And all it took was a blue glowstick... and a camera!</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://goo.gl/icr2Gt" target="_blank" id="pic-block">
            <img class="img-responsive" src="http://goo.gl/hdNIG1" alt="maternity">
        </a>
        <h3>
            <a href="http://goo.gl/icr2Gt" target="_blank">"Maternity"</a>
        </h3>
        <p id="photo-p">I had the pleasure of shooting maternity photos for my brother and his wife! Since then we've added a new member to our family!</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://goo.gl/GnfxMK" target="_blank">
            <img class="img-responsive" src="http://goo.gl/Os6p6m" alt="chair">
        </a>
        <h3>
            <a href="http://goo.gl/GnfxMK" target="_blank">"Stick in a Chair"</a>
        </h3>
        <p id="photo-p">Another favorite "Light photography" project picture! Stick figure in a chair... he looks relaxed!</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="http://goo.gl/PK8OZC" target="_blank">
            <img class="img-responsive" src="http://goo.gl/c06APz" alt="rain">
        </a>
        <h3>
            <a href="http://goo.gl/PK8OZC" target="_blank">"Sparkling Rain"</a>
        </h3>
        <p id="photo-p">Who am I kidding? They're all my favorite's! This one in particular was the most phone to shoot with a few sparklers.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://goo.gl/XOY0nF" target="_blank">
            <img class="img-responsive" src="http://goo.gl/jHP53b" alt="baby shoes">
        </a>
        <h3>
            <a href="http://goo.gl/XOY0nF" target="_blank">"Baby Booties"</a>
        </h3>
        <p id="photo-p">Another piece from my maternity photo shoot! Check out those tiny shoes!</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://goo.gl/FpuHtK" target="_blank">
            <img class="img-responsive" src="http://goo.gl/Hs8p3v" alt="shoes">
        </a>
        <h3>
            <a href="http://goo.gl/FpuHtK" target="_blank">"Glowing Sneaks"</a>
        </h3>
        <p id="photo-p">Woah!! Are those sneakers glowing in the dark!</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="http://goo.gl/RpOUCF" target="_blank">
            <img class="img-responsive" src="http://goo.gl/ShdCC4" alt="grasshopper">
        </a>
        <h3>
            <a href="http://goo.gl/RpOUCF" target="_blank">"Grass Friend"</a>
        </h3>
        <p id="photo-p">One of the best macro shots I've taken! Taking this picture was not easy!</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://goo.gl/1bBo1g" target="_blank">
            <img class="img-responsive" src="http://goo.gl/G2v9EX" alt="leaf in road">
        </a>
        <h3>
            <a href="http://goo.gl/1bBo1g" target="_blank">"Shallow Leaf"</a>
        </h3>
        <p id="photo-p">A shallow depth of field shot that makes you wonder if the road ever ends. Note: I wasn't harmed taking this photo!</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="http://goo.gl/tTUFWV" target="_blank">
            <img class="img-responsive" src="http://goo.gl/09OaQE" alt="flower">
        </a>
        <h3>
            <a href="http://goo.gl/tTUFWV" target="_blank">"Fall Flower"</a>
        </h3>
        <p id="photo-p">All shots of nature are great! But this one in particular stands out to me with the depth of field and color!</p>
    </div>
</div>
<hr>
</body>
</html>