<!DOCTYPE html>
<html>
<head>
  <title>Joseph Verrastro</title>
</head>
<body>
  <div class="well">
    <div class="row">
        <div class="col-md-12">
          <img id="item1" src="http://goo.gl/mvd2ew" class="img-responsive" alt="guitar">
          <img id="item2" src="http://goo.gl/schFlX" class="img-responsive" alt="rain">
          <img id="item3" src="http://goo.gl/IbK1rF" class="img-responsive" alt="grasshopper">
          <img id="item4" src="http://goo.gl/u2VD7G" class="img-responsive" alt="shoes">
          <img id="item5" src="http://goo.gl/nSbaUA" class="img-responsive" alt="chair">
          <img id="item6" src="http://goo.gl/KRHJjo" class="img-responsive" alt="baby photo">
          <img id="item7" src="http://goo.gl/G0kdKm" class="img-responsive" alt="baby shoes">
        </div>
    </div>
  </div>
  
  <script>
      var fadeLoop = function(pic) {
          pic.fadeOut(2000, function() {
              var $after = pic.next();
              if ($after.length == 0) {
                  $after = pic.siblings(":first");
              }
              $after.fadeIn(5000, function() {
                  fadeLoop($after);
              });
          });
      };
      
      $(document).ready(function(){
          $("#item1").siblings().hide();
          fadeLoop($("#item1"));
      });
  </script>
</body>
</html>