<!DOCTYPE html>
<html>
<head>
  <title>Joseph Verrastro</title>
</head>

<body>
    
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        
        <div class="carousel-inner">
            
            <div class="item active">
                <img src="http://www.torange.us/photo/32/16/soap-bubbles-on-the-cover-1410766636_17.jpg" alt="Bubbles" class="img-responsize">
            </div>
            
            <div class="item">
                <img src="http://i.ytimg.com/vi/WPmJefHVY5k/maxresdefault.jpg" alt="House" class="img-responsize">
            </div>
            
            <div class="item">
                <img src="https://lh3.googleusercontent.com/-br9Z4S5hdUw/VjSTcs5oz8I/AAAAAAAAAA0/v4XlRt6i3sM/w1920-h740/catamarans.jpg" alt="Boat" class="img-responsize">
            </div>
            
        </div>
        
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    
    <h2>Joseph Verrastro</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, labore, quia, ipsam accusamus esse sequi voluptatem laudantium earum voluptate provident nesciunt ipsum tempora illo in recusandae ratione odio aperiam eos!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, maxime, quia, recusandae dicta dolores aspernatur eius deserunt illum libero distinctio natus explicabo voluptas minima nesciunt quaerat nostrum voluptates amet perspiciatis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quod esse dolores explicabo itaque nam vero eos neque quia. Quas, quod esse sequi iure nihil quis dolore saepe reiciendis harum?</p>
</body>

</html>