@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

strong {
    color: white;
}


.head-text {
    color: #6F79FF;
    font-family: 'Rock Salt', cursive;
}

.head-text:hover {
    color: white;
    transition: 0.5s;
    strong {
        color: #6F79FF;
        transition: 0.5s;
    }
}

.head-logo {
    float: left;
    margin-right: 8px;
    font-size: 40px;
    margin-top: -10px;
}

.navbar {
    border-bottom: 2px solid lightgrey;
}

.menu-text {
    font-family: Josefin Sans;
    color: white;
}

.menu-text:hover {
    color: #6F79FF;
    transition: 0.5s;
}

.linked-text {
    font-family: Josefin Sans;
    font-size: 18px;
    font-weight: lighter;
    color: white;
}

.linked-text:hover {
    color: #6F79FF;
    transition: 0.5s;
}

html, body {
    height: 100%;
}

.carousel, .item, .active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}


.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}

#profile {
    padding: 3px;
    border: 5px solid grey;
    border-radius: 25%;
}

ul {
    list-style: none;
}

#home-footer {
    margin-top: -10px;
}

#welcome-h2 {
    color: #6F79FF;
    font-weight: bold;
    text-shadow: 1px 2px black;
}