// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about-header, h1{
    font-size: 35px;
    font-family: 'Rock Salt', 'Montserrat', sans-serif;
    font-weight: lighter;
}

#about-img {
    width: 150%;
}

footer {
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    margin-bottom: -10px;
}

.copyright {
    border-top: 2px solid lightgrey;
}

span {
    font-weight: bold;
    color: #6F79FF;
}

#about-me-p {
    font-family: 'Montserrat', sans-serif, times;
}

// #goals-b {
//     border: 5px solid grey;
//     border-radius: 25%;
// }

#goals-h2 {
    font-family: 'Montserrat', sans-serif, times;
    color: #6F79FF;
}

#about-h3-a{
    font-family: 'Montserrat', sans-serif, times;
    color: #403F40;
    text-decoration: underline;
}

#about-h3-b {
    font-family: 'Montserrat', sans-serif, times;
    color: #6F79FF;
}

#contact-h2 {
    font-family: 'Montserrat', sans-serif, times;
    color: #403F40; 
}

// #icon-back {
//     border: 1px red solid;
// }

#font-logo {
   position: relative;
}

.description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #6F79FF;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif, times;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-radius: 10%;
  border: 6px solid lightgrey;
}

#icons {
    font-size: 100px;
}

#icons:hover {
    font-size: 150px;
    color: #6F79FF;
    transition: 1s;
    opacity: 1;
    .description {
        visibility: visible;
        opacity: 1;
        transition: 3s;
    }
}
