// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ENTIRE APP

footer {
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    margin-bottom: -10px;
}

span {
    font-weight: bold;
    color: #6F79FF;
}

strong {
    color: white;
}

.head-text {
    color: #6F79FF;
    font-family: 'Rock Salt', cursive;
}

.head-text:hover {
    color: white;
    transition: 0.5s;
    strong {
        color: #6F79FF;
        transition: 0.5s;
    }
}

.head-logo {
    float: left;
    margin-right: 8px;
    font-size: 40px;
    margin-top: -10px;
}

.navbar {
    border-bottom: 2px solid lightgrey;
}

.menu-text {
    font-family: Josefin Sans;
    color: white;
}

.menu-text:hover {
    color: #6F79FF;
    transition: 0.5s;
}

.linked-text {
    font-family: Josefin Sans;
    font-size: 18px;
    font-weight: lighter;
    color: white;
}

.linked-text:hover {
    color: #6F79FF;
    transition: 0.5s;
}

// HOME PAGE
html, body {
    height: 100%;
}

.carousel, .item, .active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#welcome-h2 {
    color: #2C40FF;
    font-weight: bold;
    text-shadow: 1px 2px black;
}

//ABOUT PAGE

#about-header, h1{
    font-size: 35px;
    font-family: 'Rock Salt', 'Montserrat', sans-serif;
    font-weight: lighter;
}

#about-img {
    width: 150%;
}

#about-h3-a{
    font-family: 'Montserrat', sans-serif, times;
    color: #403F40;
    text-decoration: underline;
}

#about-h3-b {
    font-family: 'Montserrat', sans-serif, times;
    color: #6F79FF;
}

#about-me-p {
    font-family: 'Montserrat', sans-serif, times;
}

#goals-h2 {
    font-family: 'Montserrat', sans-serif, times;
    color: #6F79FF;
}

#profile {
    padding: 3px;
    border: 5px solid grey;
    border-radius: 25%;
}

// CONTACT PAGE

#contact-h2 {
    font-family: 'Montserrat', sans-serif, times;
    color: #403F40; 
}

// HOBBIES PAGE
#font-logo {
   position: relative;
}

.description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #6F79FF;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif, times;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-radius: 10%;
  border: 6px solid lightgrey;
}

#icons {
    font-size: 100px;
}

#icons:hover {
    font-size: 150px;
    color: #6F79FF;
    transition: 1s;
    opacity: 1;
    .description {
        visibility: visible;
        opacity: 1;
        transition: 3s;
    }
}