// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about-header h2{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

#about-img {
    width: 150%;
}

footer {
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    margin-bottom: -10px;
}

.copyright {
    border-top: 2px solid lightgrey;
}